<div>
  <h1>Contato</h1>
  <h2>Entre em contato por email: <a href="mailto:diihveloper@gmail.com">diihveloper@gmail.com</a>.</h2>
  <h2>Ou por meio das minhas redes sociais </h2>
  <div class="networks">
    <a href="https://instagram.com/diihveloper" target="_blank">
      <i class="fab fa-instagram"></i> Instagram
    </a>
    <a href="https://www.linkedin.com/in/diego-fran%C3%A7a-pimentel-8629b663/" target="_blank">
      <i class="fab fa-linkedin"></i> Linkedin
    </a>
    <a href="https://github.com/diihveloper" target="_blank">
      <i class="fab fa-github"></i> GitHub
    </a>
    <a href="https://twitter.com/diihveloper" target="_blank">
      <i class="fab fa-twitter"></i> Twitter
    </a>
    <a href="https://steamcommunity.com/id/Diegofranca90/" title="BORA JOGAR!" target="_blank">
      <i class="fab fa-steam"></i> Steam
    </a>
  </div>
</div>
