<div class="w-100">
  <h1>Habilidades </h1>
  <p>Ok, ok, gráfico como porcentagem de habilidades são cliches e sem lógica, mas o que quero passar são níveis, de
    <strong>Nenhum Conhecimento</strong> à <strong>Total conhecimento</strong>
  </p>
  <h2>Frontend</h2>
  <div class="wrap-skills">
    <app-skill [current]="1" icon="fas fa-edit" title="Design"></app-skill>
    <app-skill [current]="4" icon="fab fa-js" title="Javascript"></app-skill>
    <app-skill [current]="4" icon="fab fa-css3" title="Css"></app-skill>
    <app-skill [current]="4" icon="fab fa-html5" title="Html"></app-skill>
    <app-skill [current]="4" icon="fab fa-angular" title="Angular"></app-skill>
    <app-skill [current]="4" icon="fab fa-vuejs" title="Vue"></app-skill>
    <app-skill [current]="3" icon="fab fa-react" title="React"></app-skill>
  </div>
  <h2>Backend</h2>
  <div class="wrap-skills">
    <app-skill [current]="4" icon="fab fa-linux" title="Linux"></app-skill>
    <app-skill [current]="3" icon="fab fa-aws" title="Aws"></app-skill>
    <app-skill [current]="3" icon="fab fa-microsoft" title="Aspnet"></app-skill>
    <app-skill [current]="4" icon="fab fa-php" title="PHP"></app-skill>
    <app-skill [current]="3" icon="fab fa-docker" title="Docker"></app-skill>
    <app-skill [current]="3" icon="fab fa-node" title="NodeJs"></app-skill>
  </div>
</div>
