<div class="wrap-main">
  <div class="wrap-nav">
    <div class="home">
      <a href="/">
        <i class="fas fa-home"></i>
      </a>
    </div>
    <nav class="main-links">
      <a routerLink="/skills">
        <i class="fas fa-chart-bar"></i>
      </a>
      <a routerLink="/contato">
        <i class="fas fa-comment"></i>

      </a>
    </nav>
    <div class="networks">
      <a href="https://instagram.com/diihveloper">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/diego-fran%C3%A7a-pimentel-8629b663/">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/diihveloper">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://twitter.com/diihveloper">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://steamcommunity.com/id/Diegofranca90/" title="BORA JOGAR!">
        <i class="fab fa-steam"></i>
      </a>
    </div>
  </div>
  <div class="wrap-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
