<div class="wrap-main">
  <div class="wrap-nav">
    <div class="home">
      <a href="/">
        <i class="fas fa-home"></i>
      </a>
    </div>
    <nav class="main-links">
      <a routerLink="/contact" ngbTooltip="Contato" placement="right">
        <i class="fas fa-comment"></i>
      </a>
      <a routerLink="/skills" ngbTooltip="Habilidades" placement="right">
        <i class="fas fa-chart-bar"></i>
      </a>
      <!--
      <a routerLink="/portfolio" ngbTooltip="Portifolio" placement="right">
        <i class="fas fa-briefcase"></i>
      </a>
       -->

    </nav>
    <div class="networks">
      <a href="https://instagram.com/diihveloper" target="_blank" ngbTooltip="Instagram" placement="right">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/diego-fran%C3%A7a-pimentel-8629b663/" target="_blank" ngbTooltip="Linkedin"
         placement="right">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/diihveloper" target="_blank" ngbTooltip="GitHub" placement="right">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://twitter.com/diihveloper" target="_blank" ngbTooltip="Instagram" placement="right">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://steamcommunity.com/id/Diegofranca90/" title="BORA JOGAR!" target="_blank" ngbTooltip="Steam"
         placement="right">
        <i class="fab fa-steam"></i>
      </a>
    </div>
  </div>
  <div class="wrap-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
