<img class="foto" src="/assets/images/me.jpg" alt="Diego">
<div class="conteudo">
  <h1>
    Olá, eu sou Diego (diih) <br>
    Sou desenvolvedor web.
  </h1>
  <p>
    Meu nome é Diego França, tenho {{age}} anos, trabalho com desenvolvimento a <strong class="text-seconday">{{work}}
    anos</strong>.
    <br>
    Esses {{work}} anos foram crescendo e aprendendo junto com a <a href="https://lojainterativa.com" target="_blank">Loja
    Interativa</a>.
  </p>
  <p>
    Tenho a sorte de ser apaixonado pelo que faço, acredito que isso seja um dos fatores que elevam a qualidade do
    trabalho realizado em qualquer área, junto a sede de conhecimento e estar sempre aprendendo.
  </p>
</div>
